.best-selling{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.best-selling__button{
    position: absolute;
    top: 100px;
    right: 0;
    color: #ffffff;
    background-color: #E58411;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.best-selling__filters{
    display: flex;
    background-color: #EEEEEE;
    border-radius: 44px;
    padding: 6px;
}

.best-selling__filter-button{
    width: 84px;
    height: 45px;
    background: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.active-filter-button{
    background-color: #ffffff;
    border-radius: 44px;
}

.best-selling__cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.best-selling__card{
    background-color: #FAFAFA;
    border-radius: 20px;
}

.best-selling__card-wrapper{
    padding: 10px;
}

.best-selling__card-image{
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.best-selling__card-content{
    display: flex;
    flex-direction: column;
    gap: 6px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 0 0 20px 20px ;
}

.best-selling__card-category{
    color: #8D8D8D;
}

.best-selling__card-title{
    color: #0D1B39;
    font-size: 20px;
}

.best-selling__card-estimation{
    display: flex;
    gap: 4px;
}

.best-selling__card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.best-selling__card-price{
    color: #0D1B39;
    font-size: 20px;
}

.best-selling__card-button{
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0D1B39;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}