.materials{
    height: 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.materials__content{
    display: flex;
    flex-direction: column;
    gap: 40px;
    z-index: 2;
}

.materials__text{
    line-height: 28px;
}

.materials__wrapper{
    position: relative;
    height: 100%;
}

.materials__first-image{
    width: 220px;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 22px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1;
}

.materials__second-image{
    width: 220px;
    height: 318px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 22px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1;
}

.materials__third-image{
    width: 340px;
    height: 300px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border-radius: 22px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1;
}