.main__wrapper{
  position: relative;
  background-color: #ffffff;
}

.main__container{
  max-width: 1200px;
  padding-inline: 10px;
  margin-inline: auto;
  padding-block: 100px;
}

.main__container-title{
    font-size: 36px;
}

.main__container-subtitle{
  font-size: 18px;
  color: #E58411;
  letter-spacing: 6px;
}