.best-experience{
    height: 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    align-items: center;
}

.best-experience__image{
    width: 100%;
    border-radius: 22px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1;
}

.best-experience__content{
    display: flex;
    flex-direction: column;
    gap: 40px;
    z-index: 2;
}

.best-experience__text{
    line-height: 28px;
}